[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "cppm_packages"]
	path = cppm_packages
	url = https://github.com/INJAE/cppm_packages.git
[submodule "thirdparty/nieel"]
	path = thirdparty/nieel
	url = https://github.com/INJAE/nieel.git
