[submodule "thirdparty/yaml-cpp"]
	path = thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "thirdparty/nieel"]
	path = thirdparty/nieel
	url = https://github.com/INJAE/nieel.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/cpptoml"]
	path = thirdparty/cpptoml
	url = https://github.com/skystrife/cpptoml.git
